@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Lancelot&display=swap&family=Source+Sans+Pro:wght@400;600;700&display=swap');
* {
	margin: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f8f8fb;
	font-size: 14px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
input::placeholder {
	color: #c4c4c4;
	font-size: 16px;
}
